/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

:root {
  --light: #f3f1f0;
  --dark: #172530;
  --accent: #d89c2b;
  --green: #13aa13;
  --dark-transparent: #17253093;
}


* {
  font-family: gabarito;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  background-color: var(--light);
}
